* {
  box-sizing: border-box;
}
:root {
  --primary-color: #336b75;
  font-size: 62.5%; /*To using rem unit*/
}

a,
abbr {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Baskerville, serif;
  font-weight: 500;
  color: #000;
  font-size: 2.8rem;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Register Form */

.container {
  width: min(1280px, 100%);
  margin: 0 auto;
  min-height: calc(100vh - 365px);
  padding: 26px 10px 100px;
}
.form-intro {
  width: min(600px, 100%);
  margin: 0 auto;
  padding: 0 18px 25px;
}
.form-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.form-desc {
  text-align: center;
  font-size: 1.4rem;
}

.register-form {
  display: block;
  width: min(600px, 100%);
  margin: 0 auto;
}
.form-row {
  display: flex;
  gap: 30px;
  margin-bottom: 8px;
  /* flex-wrap: wrap; */
}
.form-group {
  flex: 1;
}
.form__label,
.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 0;
}
.form__label {
  height: auto;
}
.form-message {
  display: block;
  padding-top: 4px;
  height: 22px;
}

.form__input {
  padding: 8px;
  border: 1px solid #8f959e;
  border-radius: 8px;
}
.invalid {
  color: red;
  font-weight: 400;
}
.invalid .form__input {
  border-color: red;
}

.form__input:focus-within {
  border-color: #8f959e;
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}
.form-group:focus-within .form__label {
  font-weight: 600;
}

/* Checkbox */
.checkbox {
  margin-bottom: 10px;
}

.checkbox__label {
  position: relative;
  display: flex;
  width: 100%;
}

.checkbox__label::before,
.checkbox__label::after {
  content: "";
  display: inline-block;
}

.checkbox__label::before {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.checkbox__input:checked ~ .checkbox__label::before {
  background: var(--primary-color);
  border-color: var(--primary-color);
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

/* This pseudo-element creates a checkmark when the checkbox is checked */
.checkbox__input:checked ~ .checkbox__label::after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.term-link {
  text-decoration: underline;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  width: min(250px, 100%);
  min-height: 40px;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
}
.btn:focus-within,
.btn:hover {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  opacity: 0.9;
  cursor: pointer;
}
/* responsive register page mobile */
/* Breakpoints tham khảo bootstrap  */
@media (max-width: 767.98px) {
  .form-intro {
    width: min(300px, 100%);
    padding: 0 10px 10px;
  }
  .register-form {
    width: min(300px, 100%);
  }
  .form-row {
    display: block;
    margin-bottom: 0;
  }
  .form__input {
    padding: 5px 8px;
  }
}

/* Sign in */
.modal {
  position: fixed;
  display: none;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; /*fix tình trạng nhìn xuyên quan nền*/
}
.modal__sign-in {
  margin: auto;
  width: min(400px, 100%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng nổi */
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 8px 8px 0 0; /* fix lỗi bg color header che mất boder-radius thẻ cha*/
}
.modal__title {
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}
.modal__sign-in--close {
  font-size: 40px;
  color: #fff;
}
.modal__body {
  padding: 10px 20px;
}
.modal__register {
  display: flex;
  padding-bottom: 10px;
}
.modal__register-here {
  margin-left: auto;
}
.modal__register-link {
  text-decoration: underline;
  color: #000;
}

.sign-in__input {
  display: block; /*Ghi đè lại flex và gap của register input để with 100%*/
  margin-bottom: 10px;
  width: 100%;
}
.sign-in__form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /*Cách thẻ reset password*/
}
.sign-in__btn {
  width: 110px;
  margin: 0;
}
.sign-in__checkbox {
  margin: 0; /*Ghi đè lại register */
}
.sign-in__checkbox:last-of-type {
  margin: 0; /*Ghi đè lại register */
}
.sign-in__reset-password {
  text-decoration: underline;
}
