* {
  box-sizing: border-box;
}
:root {
  --primary-color: #336b75;
  font-size: 62.5%; /*To using rem unit*/
}

a {
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
}
