* {
  box-sizing: border-box;
}
:root {
  --primary-color: #336b75;
  font-size: 62.5%; /*To using rem unit*/
}

a,
abbr {
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container {
  max-width: 785px;
  margin: 0 auto;
  min-height: 100vh;
}
.title-registration {
  padding-top: 30px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.title-desc {
  padding: 20px 8px 60px;
  text-align: center;
  font-size: 1.4rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register__form-row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.register__label,
.register-input {
  display: block;
  min-width: 250px;
  padding: 10px 0;
}
.register-input {
  padding: 8px;
  border: 1px solid #8f959e;
  border-radius: 8px;
}
.register-input:focus-visible {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}
.btn {
  min-width: 250px;
  height: 36px;
  padding: 8px 16px;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
